body {
    margin: 0px;
    padding: 0px;
    font-family: 'Paytone One', sans-serif;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.contenido{
    display: block; 
    position: fixed; /* quedarse fijo en el sitio */
    z-index: 1; /* poner arriba */
    left: 0;
    top: 0;
    width: 100%; /* total de ancho */
    height: 100%; /* total de altura */
   
}
.contenido p {
    text-align: center;
    color: purple;
    font-size: 1.5vw;
}
.formulario{
    background-color: violet; /* color de reserva */
    overflow: auto; /* Habilita el scroll si es necesario */
}
#alerta {
    display: none;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 50px;
    color:rgb(44, 167, 32);
    text-align: center;
    margin: 2px;
}

label {
    font-weight: 600;
}

input[type=text], select, input[type=date], input[type=number] {
 width: 100%;
  padding: 8px 16px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:  rgb(21, 122, 68);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(1, 70, 24)
  }


  @media (max-width: 600px) {
    #register {
        margin: 0;
        min-width: 100vw;
        height: 150vh; 
        border-radius: 0;
    }
  }