body {
    background: rgb(45, 89, 129);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    text-align: center;
    background-color: rgb(138, 199, 176);
    width: 500px ;
    padding:40px;
}

.grande{
    text-decoration-line: dotted;
    font-style: normal;
}
.pequeño{
    
    background-color: rgb(160, 55, 116);
    padding: 40px 40px;
    margin: 10px 0px;
}

#caja {
    float: none;
    text-align: center;
    padding: 40px 40px;
    margin: 10px 0;
    background: rgb(95, 8, 66);
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
}

#marcador{
    float: right;
    background-color: rgb(2, 1, 1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 200px;
    color: #fff;

}