body {
    margin: 0px;
    padding: 0px;
    font-family: 'Paytone One', sans-serif;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    background: url('./Shadow-Fall-Background.svg'); 
    color:rgb(66, 149, 204);
}

h1 {
  color: white;
  text-shadow: 2px 2px 2px grey;
}

p, label {
  font-weight: 600;
}

section {
    width: 50vw;
    min-height: 120vh;
    padding: 0.5rem;
    line-height: 1.5;
    background-color: rgb(230, 227, 233);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px darkblue;
    margin-bottom: 5vh;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px 10px;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label {
    font-size: small;
}

input[type=text], input[type=number] {
 width: 80%;
  padding: 8px 16px;
  margin: 4px 5% 4px 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date] {
    color:  rgb(105, 126, 184);
}

img {
  width: 20px;
}

button {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(66, 149, 204);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .wrong {
    position: relative;
    right: 33px;
    display: none;
  }

  .right {
    display: none;
  }
